<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="greatgoodmodi@aliyun.com">
                <network defaultCredentials="false" host="smtp.aliyun.com" password="Thermo2017" userName="greatgoodmodi@aliyun.com" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
